<!--
  DEWS UI/UX IDE - Build Result - v1.5
  # PageID: aaa
  # PageTitle: aa
  # Server: https://dev.comet.duzon.net/
-->

<div class="dews-ui-condition-panel">
  <ul class="required-area">
    <li>
      <label class="dews-ui-multilingual">Label</label>
      <span>
        <input id="TextBox1" name="TextBox1" type="text" class="dews-ui-textbox basic" />
      </span>
    </li>
    <li>
      <label class="dews-ui-multilingual">Label</label>
      <span>
        <button class="dews-ui-button">Button</button>
      </span>
    </li>
    <li>
      <label class="dews-ui-multilingual">Label</label>
      <span>
        <button class="dews-ui-button">Button</button>
      </span>
    </li>
    <li>
      <label class="dews-ui-multilingual">Label</label>
      <span>
        <input type="checkbox" class="dews-ui-checkbox" />
        <label>Label</label>
      </span>
    </li>
    <li>
      <label class="dews-ui-multilingual">Label</label>
      <span>
        <button class="dews-ui-button">Button</button>
      </span>
    </li>
    <li>
      <label class="dews-ui-multilingual">Label</label>
      <span>
        <button class="dews-ui-button">Button</button>
      </span>
    </li>
  </ul>
</div>
<div class="dews-ui-container-panel" style="overflow: visible;" data-dews-fit-bottom="true">
  <div class="dews-container-item" data-dews-position="normal">
    <div id="Grid1" class="dews-ui-grid"></div>
  </div>
</div>

<style>
  
</style>
<script>
  dews.ready(function () {
    var self = this;

    
    
    self.dataSource1 = dews.ui.dataSource('dataSource1', {
      grid: true,
      schema: {
        model: {
          fields: [
            { field: 'aaaa', editable: false, dataType: 'string' }, 
            { field: 'bbbb', editable: false, dataType: 'string' }, 
            { field: 'cccc', editable: false, dataType: 'string' }, 
            { field: 'dddd', editable: false, dataType: 'string' }, 
            { field: 'eeee', editable: false, dataType: 'string' }, 
            { field: 'f', editable: false, dataType: 'string' }, 
            { field: 'g', editable: false, dataType: 'string' }, 
            { field: 'h', editable: false, dataType: 'string' }
          ]
    
        }
      },
      data: [
      {
        "aaaa": null,
        "bbbb": null,
        "cccc": null,
        "dddd": null,
        "eeee": null,
        "f": null,
        "g": null,
        "h": null
      },
      {
        "aaaa": null,
        "bbbb": null,
        "cccc": null,
        "dddd": null,
        "eeee": null,
        "f": null,
        "g": null,
        "h": null
      },
      {
        "aaaa": null,
        "bbbb": null,
        "cccc": null,
        "dddd": null,
        "eeee": null,
        "f": null,
        "g": null,
        "h": null
      }
    ]
    });
    
    
    dews.ui.grid(self.$Grid1, {
      dataSource: self.dataSource1,
      height: 175,
      sortable: false,
      checkable: false,
      columns: [
        {
          field: 'aaaa',
          title: 'aaaa',
          width: 60
        },
        {
          field: 'bbbb',
          title: 'bbbb',
          width: 60
        },
        {
          field: 'cccc',
          title: 'cccc',
          width: 60
        },
        {
          field: 'dddd',
          title: 'dddd',
          width: 60
        },
        {
          field: 'eeee',
          title: 'eeee',
          width: 60
        },
        {
          field: 'f',
          title: 'f',
          width: 60
        },
        {
          field: 'g',
          title: 'g',
          width: 60
        },
        {
          field: 'h',
          title: 'h',
          width: 60
        }
      ],
      fixed: {
        colCount: 1,
        rightColCount: 2
      }
    });
    
    
    
    
    

  
  });
  //# sourceURL=preview/<%= TEMP_DIR %>/aaa.js
</script>