<!--
  DEWS UI/UX IDE - Build Result - v1.5
  # PageID: cc
  # PageTitle: cc
  # Server: https://dev.comet.duzon.net/
-->

<div class="dews-ui-condition-panel">
  <ul class="required-area">
    <li>
      <label class="dews-ui-multilingual">Label</label>
      <span>
        <input id="TextBox1" name="TextBox1" type="text" class="dews-ui-textbox basic" />
      </span>
    </li>
  </ul>
</div>
<div class="dews-ui-container-panel" style="overflow: visible;" data-dews-fit-bottom="true">
  <div class="dews-container-item" data-dews-position="normal">
    <div id="Grid1" class="dews-ui-grid"></div>
  </div>
</div>

<style>
  
</style>
<script>
  dews.ready(function () {
    var self = this;

    
    
    
    
    dews.ui.grid(self.$Grid1, {
      height: 175,
      sortable: false,
      autoBind: false,
      checkable: false,
      fixed: {
        colCount: 0,
        rightColCount: 0
      }
    });
    
    
    
    
    

  
  });
  //# sourceURL=preview/<%= TEMP_DIR %>/cc.js
</script>